.wrapper {
	@apply flex flex-col;
	@apply gap-12;
	@apply h-full lg:h-[var(--resume-height)];
	@apply text-[color:var(--accents-8)];
	@apply tracking-wide;
	@apply ring-inset;
}

.resume {
	@apply flex flex-col lg:grid lg:grid-cols-10;
	@apply gap-12 lg:gap-4;
	@apply h-full;
}

.summary {
	@apply lg:col-span-3;
	@apply overflow-auto;
	@apply flex flex-col gap-8;
	@apply px-2;
}

.summary_links {
	@apply flex flex-col gap-4;
}

.personal_info {
	@apply flex flex-col gap-8;
}

.name {
	@apply text-3xl font-black;
	@apply uppercase;
}

.description {
	@apply text-[color:var(--accents-5)];
}

.contacts {
	@apply flex flex-col gap-2;
}

.contact {
	@apply flex gap-2 items-center;
	@apply text-sm font-normal;
}

.icon {
	@apply w-4 h-4;
}

.repo {
	@apply flex flex-col gap-2;
}

.section_heading {
	@apply font-bold;
}

.repo_link {
	@apply flex gap-2 items-center;
}

.detail {
	@apply col-span-7;
	@apply overflow-auto;

	@apply flex flex-col;
	@apply gap-12;
}

.section {
	@apply flex flex-col gap-4;
	@apply text-base font-normal;
}

.entries {
	@apply flex flex-col gap-2;
	@apply mx-2;
}

.entry {
	@apply flex flex-col gap-4;
	@apply px-4 py-4 w-full;
	@apply border-l border-[color:var(--accents-3)];
	@apply ring-1 ring-[color:var(--accents-2)];
	@apply rounded-md ring-inset;
}

.project_description {
	@apply flex flex-col gap-4;
	@apply text-base font-normal;
}

.project_heading {
	@apply text-xl;
}

.heading {
	@apply text-xl font-bold uppercase;
	@apply text-center lg:text-left;
}

.row {
	@apply flex gap-2 items-center justify-between;
	@apply font-bold;
}

.row_text_large {
	@apply text-lg font-normal;
}
.row_text_normal {
	@apply text-base font-normal;
}
.row_text_small {
	@apply text-sm font-normal;
	@apply w-fit;
}

.footer {
	@apply flex lg:flex-row flex-col lg:gap-4;
	@apply items-center lg:items-start justify-between;
}

.footer_link {
	@apply flex gap-2 items-center;
	@apply px-4 py-2 h-fit;
	@apply bg-[color:var(--accents-2)] text-[color:var(--accents-8)];
	@apply hover:bg-[color:var(--accents-8)] hover:text-[color:var(--accents-1)];
	@apply transition-colors duration-300;
}

.footer_link_icon {
	@apply w-4 h-4;
}

.footer_links {
	@apply flex gap-2 justify-center lg:justify-end mt-8 lg:mt-0 flex-row lg:flex-col;
	@apply text-sm;
}

.contribution_list {
	@apply text-base font-normal;
	@apply list-['-_'] list-inside;
}
.contribution_list_kr {
	@apply text-base font-normal;
	@apply list-['-_'] list-inside;
}

.version_link {
	@apply text-base px-1 py-1;
	@apply font-bold text-center;
	@apply text-[color:var(--themed-fg)];
	@apply bg-[color:var(--themed-bg)];

	/* @apply underline; */
	@apply transition-colors duration-200;

	--themed-bg: var(--accents-3);
	--themed-fg: var(--accents-8);

	&:hover {
		--themed-bg: var(--accents-8);
		--themed-fg: var(--accents-1);
	}
}
