.tabs {
	@apply flex flex-col;
	@apply relative rounded-md;
	@apply w-full max-w-[100%];
	@apply rounded-md overflow-hidden;
	@apply p-4;
	@apply transition-all duration-500;
}

.tabs_vertical {
	@apply flex-row gap-2;

	.tabs_list {
		@apply flex-col space-y-2 space-x-0;
	}

	.tabs_list_tab {
		@apply border-b-0 border-l border-l-neutral-300;
	}

	.tabs_list_tab_selected {
		@apply mx-0;
		@apply border-l-neutral-500;
	}
}

.tabs_disabled {
	.tabs_list {
		@apply opacity-40;
	}

	.tabs_list_tab {
		@apply cursor-not-allowed;
		@apply border-b-neutral-300;
	}
}

.tabs_list {
	@apply flex mb-2 py-2 justify-center space-x-2;
}

.tabs_list_tab {
	@apply text-sm truncate w-full;
	@apply text-neutral-500;
	@apply outline-none cursor-pointer;
	@apply px-2 py-1;
	@apply transition-all duration-300;
	@apply border border-transparent border-b-neutral-300;
}

.tabs_list_tab_selected {
	text-shadow: 0px 0px 0px black;
	@apply mx-2 px-4;
	@apply text-neutral-800;
	@apply border-b border-b-neutral-500;
	@apply flex-nowrap overflow-visible;
}

.tabs_list_tab_disabled {
	@apply border-b border-b-neutral-200 text-neutral-200;
	@apply cursor-not-allowed;
}

.tabs_panel {
	@apply px-4 py-4;
	@apply transition-all duration-300;
	@apply outline-none;

	animation: fadein 1s;
}

.tabs_panel_focused {
	@apply ring-1 ring-neutral-300 ring-inset;
	@apply outline-none;
}

.tabs_list_tab_focused {
	@apply ring-1 ring-neutral-300 ring-inset;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

:global(.dark) {
	.tabs_list_tab {
		@apply text-neutral-500;
		@apply border-b-neutral-500;
	}
	.tabs_list_tab_selected {
		@apply text-neutral-100;
		@apply border-b-neutral-100;
	}

	.tabs_disabled {
		.tabs_list {
			@apply opacity-20;
		}

		.tabs_panel {
			@apply opacity-20;
		}

		.tabs_list_tab {
			@apply border-b-neutral-500;
		}
	}

	.tabs_list_tab_disabled {
		@apply border-b-neutral-700 text-neutral-700;
	}

	.tabs_vertical {
		.tabs_list_tab {
			@apply border-b-0 border-l border-l-neutral-700;
		}

		.tabs_list_tab_selected {
			@apply border-l-neutral-300;
		}
	}
}
