.popover {
	@apply absolute;
	@apply w-full min-w-fit top-full;
	@apply bg-neutral-50 outline-none rounded-sm;
	@apply ring-1 ring-inset ring-neutral-300;
	@apply p-2 mt-2 z-50;
	animation: fadein 0.3s;
}

:global(.dark) {
	.popover {
		@apply bg-neutral-800/95 ring-neutral-400;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
