html {
	height: 100%;
	box-sizing: border-box;
	touch-action: manipulation;
}
html,
body {
	text-rendering: optimizeLegibility;
	background-color: var(--geist-background);
	color: var(--geist-foreground);
	scroll-padding-top: var(--header-height);
	font-size: 14px;
}

body {
	position: relative;
	min-height: 100%;
	margin: 0;
}
