@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	height: 100%;
	box-sizing: border-box;
	touch-action: manipulation;
}
html,
body {
	text-rendering: optimizeLegibility;
	font-size: 14px;
}

body {
	position: relative;
	min-height: 100%;
	margin: 0;
}

::selection {
	color: var(--accents-3);
	background: var(--accents-6);
}

/* Colors */
:root,
.dark .invert {
	--skaui-foreground: #222222;
	--skaui-background: #fafafa;
	--accents-1: #fafafa;
	--accents-2: #eeeeee;
	--accents-3: #cccccc;
	--accents-4: #999999;
	--accents-5: #777777;
	--accents-6: #555555;
	--accents-7: #333333;
	--accents-8: #222222;

	--skaui-selection: var(--skaui-foreground);

	--skaui-brightness-hover: 0.9;
	--skaui-brightness-active: 1;

	--skaui-error-lighter: #fca5a5;
	--skaui-error-light: #f87171;
	--skaui-error: #ef4444;
	--skaui-error-dark: #b91c1c;
	--skaui-success-lighter: #93c5fd;
	--skaui-success-light: #60a5fa;
	--skaui-success: rgb(59, 130, 246);
	--skaui-success-dark: #1d4ed8;
	--skaui-warning-lighter: #fef9c3;
	--skaui-warning-light: #fef08a;
	--skaui-warning: #facc15;
	--skaui-warning-dark: #ca8a04;

	--skaui-highlight-cyan: #22d3ee;
	--skaui-highlight-teal: #2dd4bf;
	--skaui-highlight-fuchsia: #d946ef;
	--skaui-highlight-rose: #f43f5e;

	--skaui-component-active: var(--skaui-success);
}

.dark,
.invert {
	--skaui-foreground: #fafafa;
	--skaui-background: #222222;
	--accents-1: #222222;
	--accents-2: #333333;
	--accents-3: #555555;
	--accents-4: #777777;
	--accents-5: #999999;
	--accents-6: #cccccc;
	--accents-7: #eeeeee;
	--accents-8: #fafafa;
}
