.button_base {
	@apply relative inline-flex;
	@apply overflow-hidden h-fit;
	@apply items-center justify-center;

	@apply select-none outline-none;
	@apply transition-all duration-200;
	@apply rounded-sm font-medium;

	@apply bg-[color:var(--themed-bg)];
	@apply text-[color:var(--themed-fg)];
	@apply border-[color:var(--themed-border)];

	@apply hover:bg-[color:var(--themed-bg-hover,var(--themed-bg))];
	@apply hover:text-[color:var(--themed-fg-hover,var(--themed-fg))];
	@apply hover:border-[color:var(--themed-border-hover,var(--themed-border))];

	@apply active:bg-[color:var(--themed-bg-active,var(--themed-bg))];
	@apply active:text-[color:var(--themed-fg-active,var(--themed-fg))];
	@apply active:border-[color:var(--themed-border-active,var(--themed-border))];

	@apply disabled:cursor-not-allowed;
	@apply disabled:opacity-20;
	@apply disabled:hover:bg-[color:var(--themed-bg)];

	&:focus:enabled {
		@apply ring-1 ring-offset-1;
		@apply ring-[color:var(--themed-border)];
	}
}

.button_solid {
	@apply border-[0.5px];
	--themed-bg: var(--accents-1);
	--themed-fg: var(--accents-8);
	--themed-border: var(--accents-3);
	--themed-bg-hover: var(--accents-2);
	--themed-bg-active: var(--accents-1);

	&.button_success {
		--themed-bg: var(--skaui-success);
		--themed-fg: white;
		--themed-border: var(--skaui-success);

		--themed-bg-hover: var(--skaui-success);
		--themed-bg-active: var(--skaui-success);
	}
	&.button_error {
		--themed-bg: var(--skaui-error);
		--themed-fg: white;
		--themed-border: var(--skaui-error);

		--themed-bg-hover: var(--skaui-error);
		--themed-bg-active: var(--skaui-error);
	}
	&.button_secondary {
		--themed-bg: var(--accents-8);
		--themed-fg: var(--skaui-background);
		--themed-border: var(--accents-8);

		--themed-bg-hover: var(--accents-8);
		--themed-bg-active: var(--accents-6);
	}

	&:hover:enabled {
		@apply opacity-90;
	}

	&:active:enabled {
		@apply opacity-100;
	}
}

.button_ghost {
	@apply border-[0.5px];
	--themed-bg: transparent;
	--themed-fg: var(--accents-8);
	--themed-border: var(--accents-3);

	--themed-bg-hover: var(--accents-8);
	--themed-bg-active: var(--accents-6);

	--themed-fg-hover: var(--accents-1);
	--themed-fg-active: var(--accents-1);

	&.button_success {
		--themed-bg: transparent;
		--themed-fg: var(--skaui-success);

		--themed-border: var(--skaui-success);

		--themed-bg-hover: var(--skaui-success);
		--themed-bg-active: var(--skaui-success);

		--themed-fg-hover: white;
		--themed-fg-active: white;
	}
	&.button_error {
		--themed-bg: transparent;
		--themed-fg: var(--skaui-error);

		--themed-border: var(--skaui-error);

		--themed-bg-hover: var(--skaui-error);
		--themed-bg-active: var(--skaui-error);

		--themed-fg-hover: white;
		--themed-fg-active: white;
	}
	&.button_secondary {
		--themed-bg: transparent;
		--themed-fg: var(--accents-8);

		--themed-border: var(--accents-8);

		--themed-bg-hover: var(--accents-8);
		--themed-bg-active: var(--accents-6);
	}

	&:hover:enabled {
		@apply opacity-100;
	}

	&:active:enabled {
		@apply opacity-90;
	}
}

.button_text {
	@apply border-none;

	--themed-bg: transparent;
	--themed-fg: var(--accents-8);
	--themed-border: var(--accents-3);

	--themed-bg-hover: var(--accents-8);
	--themed-bg-active: var(--accents-6);

	--themed-fg-hover: var(--accents-1);
	--themed-fg-active: var(--accents-1);

	&.button_success {
		--themed-bg: transparent;
		--themed-fg: var(--skaui-success);

		--themed-border: var(--skaui-success);

		--themed-bg-hover: var(--skaui-success);
		--themed-bg-active: var(--skaui-success);

		--themed-fg-hover: white;
		--themed-fg-active: white;
	}
	&.button_error {
		--themed-bg: transparent;
		--themed-fg: var(--skaui-error);

		--themed-border: var(--skaui-error);

		--themed-bg-hover: var(--skaui-error);
		--themed-bg-active: var(--skaui-error);

		--themed-fg-hover: white;
		--themed-fg-active: white;
	}
	&.button_secondary {
		--themed-bg: transparent;
		--themed-fg: var(--accents-8);

		--themed-border: var(--accents-8);

		--themed-bg-hover: var(--accents-8);
		--themed-bg-active: var(--accents-6);
	}

	&:hover:enabled {
		@apply opacity-100;
	}

	&:active:enabled {
		@apply opacity-90;
	}

	&:focus:enabled {
	}
}

.button_iconOnly {
	@apply border-none;

	--themed-bg: transparent;
	--themed-fg: var(--accents-8);
	--themed-border: var(--accents-3);

	--themed-bg-hover: var(--accents-8);
	--themed-bg-active: var(--accents-6);

	--themed-fg-hover: var(--accents-1);
	--themed-fg-active: var(--accents-1);

	&.button_success {
		--themed-bg: transparent;
		--themed-fg: var(--skaui-success);

		--themed-border: var(--skaui-success);

		--themed-bg-hover: var(--skaui-success);
		--themed-bg-active: var(--skaui-success);

		--themed-fg-hover: white;
		--themed-fg-active: white;
	}
	&.button_error {
		--themed-bg: transparent;
		--themed-fg: var(--skaui-error);

		--themed-border: var(--skaui-error);

		--themed-bg-hover: var(--skaui-error);
		--themed-bg-active: var(--skaui-error);

		--themed-fg-hover: white;
		--themed-fg-active: white;
	}
	&.button_secondary {
		--themed-bg: transparent;
		--themed-fg: var(--accents-8);

		--themed-border: var(--accents-8);

		--themed-bg-hover: var(--accents-8);
		--themed-bg-active: var(--accents-6);
	}

	&:hover:enabled {
		@apply opacity-100;
	}

	&:active:enabled {
		@apply opacity-90;
	}

	&:focus:enabled {
	}
}

.button_sm {
	@apply text-[0.5rem];
	@apply w-fit px-3 py-[2px];
}
.button_md {
	@apply text-[0.875rem];
	@apply w-fit px-3 py-[4px];
}
.button_lg {
	@apply text-[1rem];
	@apply w-fit px-4 py-[6px];
}
.button_block {
	@apply inline-flex min-h-[28px] max-w-full w-full;
	@apply text-[0.875rem];
	@apply px-2 py-1;
}

.button_prefix {
	@apply flex justify-center items-center;
	@apply w-5 h-5;
	@apply mr-2;
}

.button_suffix {
	@apply flex justify-center items-center;
	@apply w-5 h-5;
	@apply ml-2;
}

.button_start {
	@apply flex;
	@apply mr-auto;
}

.button_grow {
	@apply flex;
	@apply mx-auto;
}

.button_end {
	@apply flex;
	@apply ml-auto;
}

.button_center {
	@apply flex;
}

.iconbutton {
	@apply rounded-sm overflow-hidden;
	@apply w-fit h-fit;
}

.iconbutton_xs {
	@apply p-1;
}
.iconbutton_sm {
	@apply p-1;
}
.iconbutton_md {
	@apply p-[6px];
}
.iconbutton_lg {
	@apply p-2;
}

.iconbutton_xl {
	@apply p-2;
}

.iconbutton_icon_xs {
	@apply w-3 h-3;
}

.iconbutton_icon_sm {
	@apply w-4 h-4;
}
.iconbutton_icon_md {
	@apply w-5 h-5;
}
.iconbutton_icon_lg {
	@apply w-6 h-6;
}
.iconbutton_icon_xl {
	@apply w-7 h-7;
}

.button_group {
	@apply inline-flex whitespace-nowrap items-center;
	@apply w-fit;

	& > .iconbutton {
		@apply mr-4 rounded-full;
	}

	& > .button_base {
		@apply mr-4 rounded-sm;

		&:first-child {
			@apply rounded-l-sm;
		}
		&:last-child {
			@apply rounded-r-sm;
		}
	}

	&.button_group_attached {
		@apply space-x-0 shadow-none;

		& > .button_base {
			@apply mr-0 rounded-none;
			@apply focus:z-10;

			&:first-child {
				@apply rounded-l-sm;
			}
			&:last-child {
				@apply rounded-r-sm;
			}
		}
	}
}
