.link {
	@apply text-base px-1 py-0;
	@apply font-bold;
	@apply text-[color:var(--themed-fg)];
	@apply bg-[color:var(--themed-bg)];
	/* @apply underline; */
	@apply transition-colors duration-200;

	--themed-bg: var(--accents-3);
	--themed-fg: var(--accents-8);

	&:hover {
		--themed-bg: var(--accents-8);
		--themed-fg: var(--accents-1);
	}
}

.link_disabled {
	@apply no-underline cursor-not-allowed;
	@apply font-normal;

	--themed-bg: transparent;
	--themed-fg: var(--accents-4);

	&:hover {
		--themed-bg: transparent;
		--themed-fg: var(--accents-4);
	}
}
