@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face @layer base {
	html {
		box-sizing: border-box;
		font-size: 14px;
	}
	body {
		font-family: Inter, sans-serif;
	}
	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}
}
