.progress {
	@apply flex flex-col gap-2;
}

.progress_labels {
	@apply flex justify-between items-center;
}

.progress_labels_label,
.progress_labels_value {
	@apply text-sm;
}

.progress_bar {
	@apply relative overflow-hidden rounded-md;
}

.progress_bar_track {
	@apply h-full bg-neutral-100;
}

.progress_bar_fill {
	@apply h-full bg-neutral-800;
	@apply transition-all duration-500;
}

.progress_bar_indeterminate {
	@apply w-full h-full bg-neutral-800;
	@apply opacity-100 rounded-full origin-left;
	animation: indeterminateAnimation 1s infinite linear;
}

.progress_success {
	& .progress_bar_fill,
	.progress_bar_indeterminate {
		@apply bg-[color:var(--skaui-success)];
	}
}
.progress_warning {
	& .progress_bar_fill,
	.progress_bar_indeterminate {
		@apply bg-yellow-500;
	}
}
.progress_error {
	& .progress_bar_fill,
	.progress_bar_indeterminate {
		@apply bg-[color:var(--skaui-error)];
	}
}
.progress_secondary {
	& .progress_bar_fill,
	.progress_bar_indeterminate {
		@apply bg-neutral-500;
	}
}

@keyframes indeterminateAnimation {
	0% {
		transform: translateX(0) scaleX(0);
	}
	50% {
		transform: translateX(0) scaleX(0.5);
	}
	100% {
		transform: translateX(100%) scaleX(0.5);
	}
}

:global(.dark) {
	.progress_bar_track {
		@apply bg-neutral-600;
	}

	.progress_bar_fill {
		@apply bg-neutral-300;
	}

	.progress_bar_indeterminate {
		@apply bg-neutral-300;
	}

	.progress_success {
		& .progress_bar_fill,
		.progress_bar_indeterminate {
			@apply bg-[color:var(--skaui-success)];
		}
	}
	.progress_warning {
		& .progress_bar_fill,
		.progress_bar_indeterminate {
			@apply bg-yellow-500;
		}
	}
	.progress_error {
		& .progress_bar_fill,
		.progress_bar_indeterminate {
			@apply bg-[color:var(--skaui-error)];
		}
	}
	.progress_secondary {
		& .progress_bar_fill,
		.progress_bar_indeterminate {
			@apply bg-neutral-500;
		}
	}
}
