.text {
	@apply leading-6 tracking-normal;
	@apply inline-flex overflow-hidden;
	@apply items-center;
}

.text_truncate {
	@apply truncate;
}

.text_lineclamp {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.text_xs {
	@apply text-xs;
}
.text_sm {
	@apply text-sm;
}
.text_base {
	@apply text-base;
}
.text_lg {
	@apply text-lg;
	@apply leading-normal;
}
.text_xl {
	@apply text-xl;
	@apply leading-normal;
}
.text_2xl {
	@apply text-2xl;
	@apply font-bold;
	@apply leading-normal;
}
.text_3xl {
	@apply text-3xl;
	@apply font-bold;
	@apply leading-relaxed;
}
.text_4xl {
	@apply text-4xl;
	@apply font-bold;
	@apply leading-relaxed;
	@apply tracking-wide;
}
.text_5xl {
	@apply text-5xl;
	@apply font-bold;
	@apply leading-relaxed;
	@apply tracking-wide;
}

.text_mono {
	@apply font-mono;
}

.text_inlinecode {
	@apply bg-neutral-200 text-neutral-800 px-2 mx-1;
	@apply rounded-md font-normal;
}

.text_codeblock {
	@apply inline-block bg-neutral-100;
	@apply rounded-md;
	@apply p-4 font-medium;
	@apply text-neutral-800 text-base;
}

.text_wght_100_thin {
	@apply font-thin;
}
.text_wght_200_extralight {
	@apply font-extralight;
}
.text_wght_300_light {
	@apply font-light;
}
.text_wght_400_normal {
	@apply font-normal;
}
.text_wght_500_medium {
	@apply font-medium;
}
.text_wght_600_semibold {
	@apply font-semibold;
}
.text_wght_700_bold {
	@apply font-bold;
}
.text_wght_800_extrabold {
	@apply font-extrabold;
}
.text_wght_900_black {
	@apply font-black;
}

.text_align_left {
	@apply text-left;
}
.text_align_center {
	@apply text-center;
}
.text_align_right {
	@apply text-right;
}

.ul {
	@apply list-disc;
	@apply list-inside;
	@apply flex flex-col gap-2;
}

.ol {
	@apply list-decimal;
	@apply list-inside;
	@apply flex flex-col gap-2;
}
.li {
}
